@use '../settings/breakpoints.scss' as b;

.about {
  margin: 0 10px 2em 10px;
  gap: 1em;
  @include b.tablet-up {
    flex-direction: row;
  }
  @include b.desktop-up {
    margin: 5% 80px;
  }

  &-title {
    margin: 5% 10px;
    @include b.desktop-up {
      margin: 5% 80px;
      font-size: 3.5rem;
      line-height: 1;
    }
  }

  &-content {
    gap: 1em;
    @include b.tablet-up {
      max-width: 50%;
    }
  }

  &-description {

    & > p {
      @extend .text-sm;
      margin-bottom: 0.5em;
      @include b.desktop-up {
        font-size: 1.25rem;
        line-height: 1.75rem;
      }
    }
  }

  &-button {
    max-width: fit-content;
  }

  &-image {
    max-width: 100%;
    border-radius: 40px;

  }
}

.value-objectives {
  @include b.tablet-up {
    flex-direction: row;
    gap: 1em;
  }
  @include b.desktop-up {
    margin: 5% 80px;
  }
}

.value {
  margin: 0 10px 5% 10px;
  gap: 1.5em;
  @include b.tablet-up {
    max-width: 50%;
    gap: 0.5em;
  }

  &-title {
    @include b.desktop-up {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
  }

  &-description {
    gap: 1em;
    @include b.tablet-up {
      gap: 0.5em;
      max-width: 80%;
    }

    & > p {
      font-size: 0.825rem;
      @include b.desktop-up {
        font-size: 1.2rem;
        line-height: 2rem;
      }

      & > strong {
        font-family: "Fredoka SemiBold", sans-serif;
        font-size: 1rem;
        @include b.desktop-up {
          font-size: 1.5rem;
          line-height: 2rem;
        }
      }
    }
  }
}

.objectives {
  margin: 0 10px 5% 10px;
  @include b.tablet-up {
    max-width: 50%;
  }

  &-title {
    @include b.desktop-up {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
  }

  &-description {
    & > p {
      font-size: 0.825rem;
      @include b.desktop-up {
        font-size: 1.2rem;
        line-height: 2rem;
      }
    }

    & > ul {
      margin-top: 1em;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      @include b.tablet-up {
        gap: 1em;
      }


      & > li {
        font-size: 0.825rem;
        @include b.desktop-up {
          font-size: 1.2rem;
          line-height: 2rem;
        }
      }
    }
  }
}

.daily-life {
  margin: 0 10px 2em 10px;
  @include b.desktop-up {
    margin: 5% 80px 0 80px;
  }

  &-title {
    @include b.desktop-up {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
  }

  &-description {
    & > p {
      font-size: 0.825rem;
      margin-bottom: 1em;
      @include b.desktop-up {
        font-size: 1.2rem;
        line-height: 2rem;
      }

      &:nth-child(1) {
        margin-top: 1em;
      }
    }
  }
}

.routine {
  margin: 0 10px 2em 10px;
  @include b.desktop-up {
    gap: 6rem;
  }

  &-block {
    flex-direction: column-reverse;

    @include b.tablet-up {
      align-items: center;
    }
    @include b.desktop-up {
      gap: 1em;
    }
  }

  &-fig {
    flex: 1;
    margin: 0;

  }

  &-image {
    max-width: 100%;
    border-radius: 40px;
    height: auto;
    @include b.desktop-up {
      max-width: 640px;
      height: auto;
    }

    &-left {
      @include b.tablet-up {
        flex-direction: row;

      }
    }

    &-right {
      @include b.tablet-up {
        flex-direction: row-reverse;

      }
    }
  }

  &-content {
    gap: 1em;
    margin: 1em 0;
    flex: 1;

    &-title {
      @include b.desktop-up {
        font-size: 1.8rem;
        line-height: 2rem;
      }
    }

    &-activity {
      &-time {
        @include b.desktop-up {
          font-size: 1.2rem;
          line-height: 2rem;
        }
      }

      &-separation {
        @include b.desktop-up {
          font-size: 1.2rem;
          line-height: 2rem;
        }
      }

      &-title {
        @include b.desktop-up {
          font-size: 1.2rem;
          line-height: 2rem;
        }
      }

      &-description {
        & > p {
          font-size: 0.825rem;
          @include b.desktop-up {
            font-size: 1rem;
            line-height: 1.5rem;

          }
        }
      }
    }
  }
}


.partner {
  padding: 1em 2em;
  overflow: hidden;
  @include b.mobile {
    margin: 0;
  }

  &-title {
    margin-bottom: 2em;
  }

  &-ul {
    gap: 2em;
    animation: slide var(--slide-timing);
    overflow: hidden;
    min-width: fit-content;
    @include b.mobile {
      overflow: hidden;
    }
  }

  &-li {

  }

  &-fig {

  }

  &-image {
    max-width: 100px;
  }
}