.actualities {
  margin: 10% 10px;
  gap: 1em;
  &-title {

  }

  &-container{
    overflow-x: scroll;
    gap: 2em;
    overflow-y: hidden;
  }

  &-article {
    width: 300px;
    background-color: var(--white);
    max-height: 300px;
    border-radius: 24px;
    padding-bottom: 1em;

    &-link {

    }

    &-image {
      min-width: 300px;
      max-width: 300px;
      max-height: 100px;
      object-fit: cover;
      border-radius: 24px 24px 0 0;

    }

    &-container {
      padding: 0 1em 1em;
    }

    &-title {
      color: var(--text);

    }

    &-date {
      color: var(--text);

    }

    &-text {
      padding: 0 1em 1em;

      & > p {
        color: var(--text);
        @extend .text-sm;
        max-width: 300px;
        max-height: 200px;
      }
    }
  }
}
