@use '../settings/breakpoints.scss' as b;

.archive-actualities {
  margin: 5% 10px 2em 10px;
  gap: 1em;
  @include b.desktop-up {
    gap: 2em;
    margin: 5% 80px;
  }

  &-title {
    @include b.desktop-up {
      font-size: 3.5rem;
      line-height: 1;
    }
  }

  &-container {
    @include b.tablet-up {
      justify-content: space-evenly;
    }
    @include b.desktop-up {
      justify-content: space-evenly;
    }
  }

  &-article {
    width: 300px;
    background-color: var(--white);
    max-height: 300px;
    border-radius: 24px;
    padding-bottom: 1em;
    transition: box-shadow var(--transition);
    margin-bottom: 2em;
    box-shadow: inset 0px 0px 0px 1px var(--text);
    @include b.tablet-up {
      width: 100%;
      max-height: none;
      flex-direction: column;
      padding-bottom: 0;
    }

    &:hover {
      box-shadow: inset 0px 0px 0px 3px var(--text);
    }

    @include b.tablet-up {
      flex-direction: row;
    }

    &-link {
      @include b.tablet-up {
        flex-direction: row;
        width: 100%;
      }
    }

    &-content {
      @include b.tablet-up {
        width: 100%;
        justify-content: space-evenly;
      }
    }

    &-image {
      min-width: 300px;
      max-width: 300px;
      max-height: 100px;
      object-fit: cover;
      border-radius: 24px 24px 0 0;
      @include b.tablet-up {
       border-radius: 24px 0 0 24px;
        max-height: none;
        height: auto;
      }
    }

    &-container {
      padding: 0 1em 1em;
      @include b.tablet-up {
        justify-content: space-between;
        margin-top: 1em;
      }
    }

    &-title {
      color: var(--text);
      @include b.desktop-up {
        font-size: 2rem;
      }
    }

    &-date {
      color: var(--text);
      @include b.desktop-up {
        font-size: 1.2rem;
      }
    }

    &-text {
      padding: 0 1em 1em;

      & > p {
        color: var(--text);
        @extend .text-sm;
        max-width: 300px;
        max-height: 200px;
        @include b.tablet-up {
          flex-direction: row;
          max-width: 700px;
          max-height: none;
        }
        @include b.desktop-up {
          font-size: 1.4rem;
          line-height: 2rem;
          max-height: 300px;
          align-self: center;
          width: 100%;
          min-width: 100%;
        }
      }
    }
  }
}
