@use '../settings/breakpoints.scss' as b;

.footer {
  color: var(--white);

  &-deco {
    width: 100%;
    height: 110%;
    display: block;
    margin: 0;

  }

  &-logo {
    width: fit-content;
    gap: 1em;
    margin: 12px 36px;

    & > svg path {
      transition: fill var(--transition);

    }

    &:hover svg path {
      fill: var(--yellow);
    }
  }

  &-name {
    text-decoration: none;
    color: var(--white);
    transition: color var(--transition);

    &:hover {
      color: var(--yellow);
    }
  }

  &-container {
    padding: 1em;
    gap: 1em;
    background-color: var(--green);
    @include b.desktop-up {
      flex-direction: row;
    }

  }

  &-content {
    @include b.tablet-up {
      flex-direction: row;
    }
  }

  &-informations {
    margin: 12px 36px;
    gap: 0.5em;
    width: fit-content;

    &-title {

    }

    &-address {

    }

    &-phone {
      text-decoration: none;
      color: var(--white);
      transition: color var(--transition);

      &:hover {
        color: var(--yellow);
      }
    }

    &-email {
      text-decoration: none;
      color: var(--white);
      transition: color var(--transition);

      &:hover {
        color: var(--yellow);
      }
    }

    &-iban {

    }
  }

  &-nav {
    margin: 12px 36px;
    gap: 0.5em;
    width: fit-content;

    &-title {

    }

    &-ul {
      gap: 0.5em;

    }

    &-li {
      text-decoration: none;
      color: var(--white);
      transition: color var(--transition);

      &:hover {
        color: var(--yellow);
      }
    }
  }

}