@use '../settings/breakpoints.scss' as b;

#burger {
  appearance: none;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  min-height: 60px;
  min-width: 65px;
  z-index: 9999;
  position: relative;
  @include b.desktop-up {
    display: none;
  }
}

.burger-wrapper {
  @include b.desktop-up {
    display: none;
  }
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  z-index: 10;
  padding: 15px;
}

.burger-wrapper > span {
  background-color: #000;
  display: inline-block;
  min-height: 3px;
  width: 25px;
  transition: opacity var(--transition), width var(--transition), rotate var(--transition), translate var(--transition), background var(--transition);
}

#burger:checked ~ .burger-wrapper > span:nth-child(2) {
  opacity: 0;
  width: 0;
}

#burger:checked ~ .burger-wrapper span:nth-child(1) {
  translate: 0 9px 0;
  rotate: 45deg;
}

#burger:checked ~ .burger-wrapper span:nth-child(3) {
  translate: 0 -6px 0;
  rotate: -45deg;
}

#burger:checked ~ .nav-list {
  translate: 0;
}

#burger:checked ~ .burger-wrapper {
  background: #FFF;
  padding: 15px;
  border-radius: 0;
  box-shadow: none;
}
