@use '../settings/breakpoints.scss' as b;

.button {
  color: var(--white);
  @include b.desktop-up {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  &-green {
    background-color: var(--green);
    border-radius: 10px;
    padding: 8px 16px;
  }

  &-yellow {
    background-color: var(--yellow);
    border-radius: 10px;
    padding: 8px 16px;
  }

  &-blue {
    background-color: var(--blue);
    border-radius: 10px;
    padding: 8px 16px;
  }

  &-red {
    background-color: var(--red);
    border-radius: 10px;
    padding: 8px 16px;
  }
}