.button {
  color: var(--white);
  &-green {
    background-color: var(--green);
    border-radius: 10px;
    padding: 8px 16px;
  }

  &-yellow {
    background-color: var(--yellow);
    border-radius: 10px;
    padding: 8px 16px;
  }

  &-blue {
    background-color: var(--blue);
    border-radius: 10px;
    padding: 8px 16px;
  }

  &-red {
    background-color: var(--red);
    border-radius: 10px;
    padding: 8px 16px;
  }
}